.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2%;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-image {
  width: 160px;
  height: 180px;
  border: 5px solid rgba(0, 162, 255, 0.76);
}

.details-container {
  display: flex;
  justify-content: center;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.details-grid li {
  margin-bottom: 10px;
}
